body{
  counter-reset:table figure;
}
.table{
  width:auto;
}

caption::before{
  counter-increment: table;
  content: "Tabela " counter(table) ": ";
}

.caption::before{
  counter-increment: figure;
  content: "Slika " counter(figure) ": ";
}

caption, .caption{
  font-style:italic;
  margin-top:0.5em;
  margin-bottom:0.5em;
  width:80%;
  text-align: center;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 84px;
}